spring:
  profiles:
    active: local

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  sql:
    init:
      mode: never

  jpa:
    database-platform: org.hibernate.spatial.dialect.mysql.MySQL8SpatialDialect
    hibernate:
      ddl-auto: none
    open-in-view: false

  batch:
    jdbc:
      initialize-schema: never
      isolation-level-for-create: default

---
spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:mysql://localhost:3306/comeeatme?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: my-secret-pw

  sql:
    init:
      mode: never

  jpa:
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  batch:
    jdbc:
      initialize-schema: never

logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type: trace

---
spring:
  config:
    activate:
      on-profile: prod
